/*
Colour scheme

#4A8E4A - Pale Green.
#002400 - Dark Green.
#3B843B - Pale/Mid Green.
#1C631C - Mid Green.
#D2E0D2 - Grey.
*/

/* Global
______________________________*/
html {
  box-sizing: border-box;
}
*
*::before
*::after {
  box-sizing: inherit;
}
a {
  color: #002400;
  font-weight: 500;
}
a:hover
a:focus {
  color: #002400;
  font-weight: bold;
}
/* Header
______________________________*/
.headerBanner {
  background-color: #D2E0D2;
  font-family: 'Open Sans','Roboto', sans-serif;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  margin: 0px;
}
.navbar {
  background-color: inherit;
  border: 0px;
}
.navbar-collapse {
  border: 0px;
}
.navbar-toggle {
  border: 0px;
}
.breadcrumb {
  background-color: inherit;
  border: 0px;
}
li a {
  color: #777;
}
li a:hover{
  color: #222;
  font-weight: bold;
  text-decoration: none;
}
.logo {
  float: left;
}
.navbar-brand {
  font-size: 1.8em;
  text-align: center;
}
.navbar-brand:hover
.navbar-brand:focus {
  color: #222;
  font-weight: bold;
}
/* Footer
______________________________*/
.footerBanner {
  background-color: #D2E0D2;
}
/* Main
______________________________*/
.mainBody {
  background-color: #FFF;
  margin: 10px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1em;

}
