/*
Colour scheme

#DFD6A7 - Pale yellow/brown colour.
#F7CE5B - Yellow.
#F7B05B - Orange.
#E0CA69 - Faded yellow.
#1F1300 - Brown.
*/

/* Global
______________________________*/
body {
  background-color: #DFD6A7;
}
.centered {
  display: inline-block;
  width: 50%;
}
/* Header
______________________________*/
.headerBanner {
  background-color: #F7B05B;
  font-family: 'Open Sans','Roboto', sans-serif;
  font-weight: 600;
  color: 1F1300;
  width: 100%;
  display: inline-block;
  margin: 0px;
}
.siteName {
  display: inline-block;
  background-color: inherit;
  color: #1F1300;
  margin: 20px;
}
.siteName:hover {
  color: #000;
  font-weight: 100;
  text-decoration: none;
}
/* Links to each page */
a.navLinks {
  color: red; /* Currently not working */
}
img.logo {
  display: inline-block;
  margin: 20px;
}
/* Footer
______________________________*/
.footerBanner {
  background-color: #F7B05B;
}
/* Main
______________________________*/
