/*
Colour scheme

#DFD6A7 - Pale yellow/brown colour.
#F7CE5B - Yellow.
#F7B05B - Orange.
#E0CA69 - Faded yellow.
#1F1300 - Brown.
*/

/* Global
______________________________*/
body {
  background-color: #DFD6A7;
}
.centered {
  width: auto;
  margin: 0 auto;
}
/* Header
______________________________*/
.headerBanner {
  background-color: #F7B05B;
  font-family: 'Open Sans','Roboto', sans-serif;
  font-weight: 600;
  color: 1F1300;
  width: 100%;
  display: inline-block;
}
/* Whole navbar at top of page */
.topNavigation {
  background-color: inherit;
  border: 0px;
  padding: 20px, 30px;
  margin: 5px, 20px;
  display: inline-block;
}
/* Login button on right of navbar */
.glyphicon {
  margin-right: 6px;
}
/* Links to each page */
a.navLinks {
  color: red; /* Currently not working */
}
.logo {
  display: inline-block;
  margin-left: 20px;
}
/* Breadcrumb at bottom of header */
.breadcrumb {
  background-color: inherit;
  color: #1F1300;
  margin: 5px;
  margin-top: 25px;
}
.breadcrumb:hover {
  color: #000;
  font-weight: 1000;
  text-decoration: none;
}
.breadcrumb:focus {
  color: #000;
  font-weight: 1000;
  text-decoration: none;
}
/* Footer
______________________________*/


/* Main
______________________________*/
